<div>name: {{hotel?.name}} </div>
<div>price per night: {{hotel?.pricePerNight}} </div>
<div>address: <a *ngIf="hotel?.address.city" [routerLink]="['/by/city',hotel.address.city]" >{{hotel.address.city}}</a> , <a *ngIf="hotel?.address.country" [routerLink]="['/by/country',hotel.address.country]" >{{hotel.address.country}}</a> </div>
<mat-card>
  <h5>Reviews:</h5> 
  <mat-list>
    <app-review *ngFor="let review of hotel?.reviews" [review]="review"></app-review>
  </mat-list>
</mat-card>
<button mat-button (click)="delete(hotel.id)"><mat-icon>delete</mat-icon></button>
<button mat-button [routerLink]="['/edit',hotel?.id]"><mat-icon>edit</mat-icon></button>