<mat-toolbar class="extend-toolbar">
  <span>
    <a [routerLink]="['/']">Home</a>
  </span>

  <span class="flex"></span>

  <span>
      <a [routerLink]="['/recommended']">Recommended</a>
  </span>

  <span class="flex"></span>

  <span>
      <a [routerLink]="['/by/price/200']">Up to €</a>
  </span>

  <span class="flex"></span>

  <span>
      <a [routerLink]="['/edit']">Create Hotel</a>
  </span>

</mat-toolbar>

<router-outlet></router-outlet>
