<a [routerLink]="['/hotel',hotel?.id]">
  <h4>{{hotel?.name}} </h4>
  <div>price per night: {{hotel?.pricePerNight}} €</div>
  <div>address: {{hotel?.address.city}} , {{hotel?.address.country}} </div>
  <div># reviews: {{hotel?.reviews?.length}} </div>
</a>