<label >
  user name:
  <input type="text" [ngModelGroup]="modelGroup" [name]="'userName-'+index" [(ngModel)]="review.userName">
</label><br>
<label >
  rating:
  <input type="number" [ngModelGroup]="modelGroup" [name]="'rating-'+index" [(ngModel)]="review.rating">
</label><br>
<label >
  approved:
  <input type="checkbox" [ngModelGroup]="modelGroup" [name]="'approved-'+index" [(ngModel)]="review.approved">
</label>
<button mat-button (click)="delete(index)"><mat-icon>delete</mat-icon></button>
<br>