{{hotel | json}}


<form #f="ngForm" name="profileForm" (ngSubmit)="submit(f.value)">
  <mat-card>

    <label>
      Name:
      <input type="text" name="name" [(ngModel)]="hotel.name">
    </label><br>
    
    <label>
      Price per night:
      <input type="number" name="pricePerNight" [(ngModel)]="hotel.pricePerNight">
      €
    </label>
  </mat-card>

  <mat-card name="address">
    <h3>Address</h3>
    <label>
      city:
      <input type="text" name="city" [(ngModel)]="hotel.address.city">
    </label><br>
    <label>
      country:
      <input type="text" name="country" [(ngModel)]="hotel.address.country">
    </label>
  </mat-card>

  <mat-card>
    <h3>Reviews:</h3>
    <mat-list>
        <app-edit-review *ngFor="let review of hotel.reviews; let index = index" [review]="review" [index]="index" [modelGroup]="'reviex-'+index" (deleteEvent)="deleteReview($event)"></app-edit-review>
    </mat-list>
    <br>
    <button mat-button type="button" (click)="addReview()"><mat-icon>add_circle</mat-icon>Add a review</button>
  
  </mat-card>
    
  <button type="submit" [disabled]="false">Submit</button>
</form>